
.card {
  &:first-child {
    min-height: 52px;
  }
  .card-header {
    cursor: pointer;
  
    .icon {
      transition: transform 150ms ease-out;
    }
  }
      
  .card-content {
    transition: max-height 150ms ease-out;
  }
}

.card.is-collapsed { 
  .card-header {
    .icon {
      transform: rotate(180deg);
    }
  }
  .card-content {
    visibility: hidden;
    max-height: 10px;
    padding: 0;
  }
}