
$blue:         rgb(45, 44, 113);
$orange:       rgb(219, 143, 54);
$brown: #414239;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $primary: $blue,
  $link: $orange,
  $control-border-width: 2px,
  $input-shadow: none,
  $dropdown-content-radius:0em,
  $panel-radius: 0em,
  $panel-heading-radius: 0em,
  $tag-radius: 0em,
  $card-radius: 0em,
  $box-radius: 0em,
);

@use "bulma/sass/utilities/mixins";

@import "./variables.scss";



@import "./pkp-tweaks.scss";

@import './collapsable.scss';

@import './bulma-divider.min.css';
// @import './bulma-tooltip.min.css';

@import './fa/css/all.min.css';