.pkp_screen_reader {
  display: none;
}

// section,
// .page,
// .additional_content {
//   @extend .section;
// }

h1 {
  @extend .title;
  @extend .is-2;
}

h2 {
  @extend .title;
  @extend .is-3;
}

h3,
.current_issue_title {
  @extend .title;
  @extend .is-4;
}

h4 {
  @extend .title;
  @extend .is-5;
}

h5 {
  @extend .title;
  @extend .is-6;
}

h5 {
  @extend .title;
  @extend .is-7;
}

h6 {
  @extend .title;
  @extend .is-6;
}

.cmp_breadcrumbs {
  @extend .breadcrumb;
  @extend .is-medium;

  li {
    .separator {
      display: none;
    }
  }

  li.current {
    span {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 0 0.75em;
    }
  }
}

.item {
  @extend .block;
}

.block_author {
  @extend .block;
  width: 300px;
}

.pkp_block {
  @extend .panel;
  @extend .is-primary;
  h2 {
    @extend .panel-heading;
  }
  .content {
    @extend .panel-block;
  }
}

.block_make_submission_link {
  @extend .button;
  @extend .is-link;
}

// .current {
//     @extend .is-active;
// }
label {
  @extend .label;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  @extend .input;
}
textarea {
  @extend .textarea;
}
select {
  @extend .select;
}
input[type="checkbox"] {
  @extend .checkbox;
}
input[type="radio"] {
  @extend .radio;
}
button {
  @extend .button;
}
fieldset {
  @extend .field;
}

.cmp_edit_link {
  @extend .tag;
  @extend .is-link;
}

.cmp_pagination {
  @extend .pagination;
  @extend .is-small;

  .prev {
    @extend .pagination-previous;
  }
  .next {
    @extend .pagination-next;
  }
  .current {
    @extend .pagination-list;
  }
  div {
    strong {
      @extend .pagination-link;
      @extend .is-current;
    }
  }
  div {
    a {
      @extend .pagination-link;
    }
  }
}

.is-notice {
  @extend .is-primary;
}

.date {
  @extend .tag;
  @extend .is-primary;
  @extend .is-light;
}

.issue_archive {
  .card-content {
    padding: 0.5rem;
  }
}

// =======
.html-galley__header {
  position: relative;
  z-index: 2;
}

.html-galley__header {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 3;
  padding-top: 10px;

  & a {
    font-family: $family-sans-serif;
    color: $primary;
    font-size: 18px;

    &:hover {
      text-decoration: none;
      border-bottom: 1px dotted $primary;
    }
  }
  .article-page__alert {
    border-color: $primary;
    padding: 0.375rem 0.75rem;
    font-size: smaller;

    a {
      text-decoration: underline;
      color: $primary;
      font-size: 18px;
    }
  }
}

@media (min-width: 1200px) {
  .without_own_css body {
    padding-left: 15%;
    padding-right: 15%;
  }
}
.galley_view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
  padding-top: 30px;

  iframe {
    padding-top: 30px;
    width: 100%;
    height: 100%;
  }
}

// =======

// =====

.pdf-galley__header {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 3;
  padding-top: 10px;

  .article-page__alert {
    border-color: $primary;
    padding: 0.375rem 0.75rem;
    font-size: smaller;

    a {
      text-decoration: underline;
    }
  }
}

.pdf-return-article {
  max-width: 70%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 8px;

  & a {
    font-family: $family-sans-serif;
    color: $primary;
    font-size: 18px;

    &:hover {
      text-decoration: none;
      border-bottom: 1px dotted $primary;
    }
  }
}

.pdf-download-button {
  max-width: 30%;
}

.galley_view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;

  iframe {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    border: none;
  }
}

#pdfCanvasContainer {
  top: 30px;
}
// =======

.pkp_structure_sidebar {
  margin-top: 100px;
}

#articlesBySimilarityList {
  h3 {
    @extend .title;
    @extend .is-4;
  }
}

.entry_details {
  .label {
    @extend .title;
    @extend .is-4;
  }
}

.long-text-link {
  a { /* Style the link element */
  flex: 1; /* Allow link to grow and shrink */
  overflow: hidden; /* Hide overflow for link text */
  text-overflow: ellipsis; /* Add ellipsis for overflow */
  white-space: nowrap; /* Prevent text wrapping within link */
}}