.pkp_screen_reader {
  display: none;
}

section,
.page,
.additional_content {
  @extend .section;
}

h1 {
  @extend .title;
  @extend .is-2;
}

h2 {
  @extend .title;
  @extend .is-3;
}

h3,
.current_issue_title {
  @extend .title;
  @extend .is-4;
}

h4 {
  @extend .title;
  @extend .is-5;
}

h5 {
  @extend .title;
  @extend .is-6;
}

h5 {
  @extend .title;
  @extend .is-7;
}

h6 {
  @extend .title;
  @extend .is-6;
}

.cmp_breadcrumbs {
  @extend .breadcrumb;
  @extend .is-medium;

  li {
    .separator {
      display: none;
    }
  }

  li.current {
    span {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 0 0.75em;
    }
  }
}

.pkp_block {
  @extend .panel;
  @extend .block;

  h2 {
    @extend .panel-heading;
  }
  .content {
    @extend .panel-block;
  }
}

.block_make_submission_link {
  @extend .button;
  @extend .is-link;
}


// .current {
//     @extend .is-active;
// }
label {
  @extend .label;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  @extend .input;
}
textarea {
  @extend .textarea;
}
select {
  @extend .select;
}
input[type="checkbox"] {
  @extend .checkbox;
}
input[type="radio"] {
  @extend .radio;
}
button {
  @extend .button;
}
fieldset {
  @extend .field;
}

.cmp_edit_link {
  @extend .tag;
  @extend .is-link;
}

.cmp_pagination {
  @extend .pagination;
  @extend .is-small;

  .prev {
    @extend .pagination-previous;
  }
  .next {
    @extend .pagination-next;
  }
  .current {
    @extend .pagination-list;
  }
}

.is-notice {
  @extend .is-primary;
}

.date {
  @extend .tag;
  @extend .is-primary;
  @extend .is-light;
}


.issue_archive {
 .card-content {
    padding: 0.5rem;
 }
}
