
@import "./initial-variables.scss";


$primary: $blue !default;

$link: $orange !default;

$navbar-height: 4.25rem !default;

$navbar-item-img-max-height: 3.75rem !default;

$navbar-item-color: $primary !default;
$navbar-item-hover-color: $white !default;
$navbar-item-hover-background-color: $primary !default;

// $navbar-dropdown-background-color: $primary;
$navbar-dropdown-item-hover-color: $white;
$navbar-dropdown-item-hover-background-color: $primary;

$footer-background-color: $grey-light;

$section-padding: 2rem 0.75rem;
